* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/*nav*/

nav {
    height: 8vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.67);
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


nav ul li a {
    color: #294881;
    font-size: 1.5rem;
    text-decoration: none;
    transition: .3s;
    border-bottom: rgb(255, 196, 0) solid 0px;
}

nav ul li a:hover{
   border-bottom: rgb(255, 196, 0) solid 2px;

}

/*****logo******/

nav .logo{
    width: 30%;
}

/***************************/

.main_bcg {
    height: 100vh;
    background: url("../img/mainbcg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main_title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.titles h1 {
    font-size: 3rem;
}

.titles .name{
    font-size: 1rem;
}

.titles .text {
    font-size: 2rem;
}

.titles {
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.493);
}

/***************************/

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_me{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    padding: 3%;
    color: #294881;
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.about_me h2, .price-list h2, .offer h2{
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
    font-size: 2rem;
    border-bottom: rgb(228, 195, 86) solid 2px;
}

.about_me p, .price-list p{
    font-size: 1.3rem;
    text-align: justify;
}

/***************************/

.offer{
    margin-bottom: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(40, 71, 128);
    padding: 3%;
    background-color: rgb(255, 249, 241);
    background: url("../img/bcg2.jpeg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.offer p{
    font-size: 1.3rem;
}

.offer .title{
    width: 100%;
    text-align: center;
}

.offer .all{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    align-items: center;
}

.offer .items{
    background-color: rgba(255, 255, 255, 0.733);
    padding-top: 3%;
    padding-bottom: 3%;
}

.all h3{
    font-size: 1.7rem;
    margin-top:3%;
    width: 70%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section2{
    height: 20vh;
}

.section1, .section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
}

.all p{
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
    border-bottom: rgb(228, 195, 86) solid 2px;
}

.elements{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/***************************/

.price-list{
    margin-bottom: 2%;
    width: 100%;
    padding: 3%;
    color: #294881;
    background-color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

/***************************/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.gallery div {
    width: 25%;
    height: 25vw;
}

.gallery div img {
    width: 100%;
    height: 100%;
    padding: 3px;
}

aside p{
    padding: 1%;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    color: rgb(40, 71, 128);
}

aside p a{
    color:rgb(228, 195, 86);
    text-decoration: none;
}

aside p a:hover{
    text-decoration: underline;
}

aside{
    margin-bottom: 5%;
}

/***************************/

footer{
    border-top:rgb(235, 235, 235) solid 2px;
    padding: 3%;
    width: 100%;
    color:black;
    display: flex;
    flex-direction: row;
}

.links{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.links a{
    color:black;
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

.information{
    display: flex;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.informations{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact{
    margin-top: 4%;
}

footer h4{
    margin-bottom: 2%;
}

/*****logo*****/

footer .logo{
    width: 50%;
}


@media only screen and (max-width:480px) {

/***************************/  
    nav ul li a {
        color: #294881;
        font-size: 1rem;
        border-bottom: solid rgb(228, 195, 86) 2px;
    }

    nav ul li a:hover{
        border-bottom: 0px;
    }
/***************************/

    .main_bcg {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_title {
        height: 100%;
        width: 100%;
    }

    .titles h1 {
        font-size: 2rem;
    }

    .titles .name{
        font-size: 0.9rem;
    }

    .titles .text{
        font-size: 1rem;
    }

    .titles {
        width: 80%;
        padding: 4%;
    }

/***************************/   

    .about_me h2, .price-list h2, .offer h2{
        font-size: 1.5rem;
        border-bottom: rgb(228, 195, 86) solid 2px;
    }

    .about_me p, .price-list p{
        font-size: 1rem;
    }

/***************************/   

    .offer{
        height: auto;
    }
    
    .offer p{
        font-size: 1.3rem;
    }
    
    .offer .all{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .offer .items{
        width: 100%;
        height: 100%;
    }

    .section2{
        height: 20vh;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .all p{
        width: 30vw;
    }
    
    .offer h3{
        font-size: 1.3rem;
    }

    .elements{
        width: 100%;
        align-items: center;
        justify-content: center;
    }

/***************************/ 

    aside{
        display: none;
    }
    
/***************************/
    
    .links{
        width: 35%;
    }
    
    .links a{
        font-size: 0.8rem;
        color:black;
        text-decoration: none;
    }
    
    .information p{
        font-size: 0.8rem;
    }

    .links a:hover{
        text-decoration: underline;
    }
    
    .information{
        width: 40%;
    }

    .informations{
        display: flex;
        flex-direction: column;
    }

    .contact{
        margin-top: 2%;
    }
    
    footer .logo{
        display: none;
    }
}